{% include 'navbar.html' %}
{% load static %}
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content  -->	
                <div class="content">
                    <!--  section  -->  
                    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="{% static 'images/all/11.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title" align="center">
                                <h4>Order food with home delivery</h4>
                                <h2>Checkout Process</h2>
                                <div class="dots-separator fl-wrap"><span></span></div>
                            </div>
                        </div>

                        <div class="brush-dec"></div>
                    </section>
                    <!--  section  end-->  
                    <!--  section  -->   
                    <section class="hidden-section">
                        <div class="container">
                            <!-- CHECKOUT TABLE -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="check-out_wrap fl-wrap">
                                        <h4 class="cart-title">Your Information</h4>
                                        <form  class="custom-form">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" name="name"   placeholder="Your Name *" value=""/>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text"  name="email"   placeholder="Email Address *" value=""/>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text"  name="phone"  placeholder="Phone *" value=""/>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text"  name="city"   placeholder="City  *" value=""/>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text"  name="country"   placeholder="Country  *" value=""/>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text"  name="code"   placeholder="Postal code*" value=""/>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h4 class="cart-title">Payment method</h4>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" value="Cardholder's Name"/>                                                  
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="Card Number" value=""/> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" placeholder="MM" value=""/>                                                  
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" placeholder="YY" value=""/>                                                  
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="password" placeholder="***" value=""/> 
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <p style="padding-top:20px; text-align: left; font-size: 10px">*Three digits number on the back of your card</p>
                                                    </div>
                                                </div>
                                                <textarea name="comments"  id="comments" cols="30" rows="3" placeholder="Addtional Notes"></textarea>
                                                <div class="clearfix"></div>
                                                <button class="btn color-bg">Confirm and Pay<i class="fal fa-long-arrow-right"></i></button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- CART TOTALS  -->
                                    <div class="cart-totals dark-bg fl-wrap">
                                        <h3>Cart totals</h3>
                                        <table class="total-table">
                                            <tbody>
                                                <tr>
                                                    <th>Cart Subtotal:</th>
                                                    <td>$240.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping Total:</th>
                                                    <td>$12.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Total:</th>
                                                    <td>$252.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="submit" class="cart-totals_btn color-bg">Proceed to Checkout</button>
                                    </div>
                                    <!-- /CART TOTALS  -->                              
                                </div>
                            </div>
                            <!-- /CHECKOUT TABLE -->
                        </div>
                        <div class="section-bg">
                            <div class="bg"  data-bg="images/bg/dec/section-bg.png"></div>
                        </div>
                    </section>
                    <!--  section end  -->  
                    <div class="brush-dec2 brush-dec_bottom"></div>
                </div>
                <!-- content end  -->
                  {% include 'footer.html' %}
