{% include 'navbar.html' %}
{% load static %}

 <style>
            .header-cart_wrap_footer{
                text-align: center;
            }
            .header-cart_wrap_footer a{
                text-decoration: none;

            }
            .header-cart_wrap_footer a:hover{
                text-decoration: none;
                color: white;
            }
            a:hover{
                text-decoration: none;
                color: white;
            }
            .cat-item a{
                text-decoration: none;
                color: #222;
            }
            .cat-item a:hover{
                text-decoration: none;
            }
        </style>
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content  -->	
                <div class="content">
                    <!--  section  -->  
                    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="{% static 'images/bg/6.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title" align="center">
                                <h4>Order food with home delivery</h4>
                                <h2>Food Items</h2>
                                <div class="dots-separator fl-wrap"><span></span></div>
                            </div>
                        </div>
                        <div class="hero-section-scroll">

                        </div>
                        <div class="brush-dec"></div>
                    </section>
                    <!--  section  end-->  
                    <!--  section  -->   
                    <section class="hidden-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="fl-wrap post-container">
                                        <div class="shop-header fl-wrap">
                                            <h4>Showing <span>1–8</span> of 19 results</h4>
                                            <div class="shop-header_opt">
                                                <select name="persons" id="list" data-placeholder="Persons" class="chosen-select no-search-select">
                                                    <option>Popularity</option>
                                                    <option>Average rating</option>
                                                    <option>Price: low to high</option>
                                                    <option>Price: high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- gallery start -->
                                        <div class="gallery-items grid-big-pad lightgallery  fl-wrap">


                                            <!-- gallery-item-->
                                            <div class="gallery-item col-md-12">
                                                <div class="grid-item-holder hov_zoom" align="center">
                                                    <a href="{% static 'images/menu/1.jpg' %}" class="box-media-zoom   popup-image"><i class="fal fa-search "></i></a>
                                                    <img  src="{% static 'images/menu/1.jpg' %}"    alt="">
                                                </div>
                                                <div class="grid-item-details">
                                                    <h3><a href="product-single.html">Soft shell crab</a> <span>Sale -30%</span></h3>
                                                    <p>Seasoned with an herb crust, served with au jus and handcarved to order. </p>
                                                    <div class="grid-item_price">
                                                        <span>$29</span>
                                                        <div class="add_cart">Add To Cart</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- gallery-item end-->

                                        </div>
                                        <!-- gallery end -->                                
                                        <!--pagination-->   
                                        <div class="pagination fl-wrap">
                                            <a href="#" class="prevposts-link"><i class="fal fa-long-arrow-left"></i></a>
                                            <a href="#">01.</a>
                                            <a href="#" class="current-page">02.</a>
                                            <a href="#">03.</a>
                                            <a href="#">04.</a>
                                            <a href="#" class="nextposts-link"><i class="fal fa-long-arrow-right"></i></a>
                                        </div>
                                        <!--pagination end-->                                          
                                    </div>
                                </div>
                                <!--  sidebar  -->  
                                <div class="col-md-4">
                                    <!-- main-sidebar -->   
                                    <div class="main-sidebar fixed-bar fl-wrap">
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <div class="search-widget fl-wrap">
                                                <form action="#">
                                                    <input name="se" id="se" type="text" class="search-inpt-item" placeholder="Search.." value="Search..." />
                                                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                            


                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <h3>Categories</h3>
                                            <div class="category-widget">
                                                <ul class="cat-item">
                                                    <li><a href="#">Seafood</a><span>12</span></li>
                                                    <li><a href="#">Drinks</a><span>21</span></li>
                                                    <li><a href="#">Desserts</a><span>34</span></li>
                                                    <li><a href="#">Starter</a><span>8</span></li>
                                                    <li><a href="#">Main Dishes</a><span>9</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                                

                                    </div>
                                    <!-- main-sidebar end-->                                        
                                </div>
                                <!--  sidebar end-->    
                            </div>
                            <div class="fl-wrap limit-box"></div>
                        </div>
                        <div class="section-bg">
                            <div class="bg"  data-bg="images/bg/dec/section-bg.png"></div>
                        </div>
                    </section>
                    <!--  section end  -->  
                    <div class="brush-dec2 brush-dec_bottom"></div>
                </div>
                <!-- content end  -->
     {% include 'footer.html' %}
            <!-- wrapper end -->
            <!-- reservation-modal-wrap-->          
            <div class="reservation-modal-wrap">
                <div class="reserv-overlay crm">
                    <div class="cd-reserv-overlay-layer" data-frame="25">
                        <div class="reserv-overlay-layer"></div>
                    </div>
                </div>
                <div class="reservation-modal-container bot-element">
                    <div class="reservation-modal-item fl-wrap">
                        <div class="close-reservation-modal crm"><i class="fal fa-times"></i></div>
                        <div class="reservation-bg"></div>
                        <div class="section-title">
                            <h4>Don't forget to book a table</h4>
                            <h2>Table Reservations</h2>
                            <div class="dots-separator fl-wrap"><span></span></div>
                        </div>
                        <div class="reservation-wrap">
                            <div id="reserv-message"></div>
                            <form  class="custom-form" action="https://restabook.kwst.net/dark/php/reservation.php" name="reservationform" id="reservationform">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" name="name" id="name" placeholder="Your Name *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"  name="email" id="email" placeholder="Email Address *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"  name="phone" id="phone" placeholder="Phone *" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="numperson" id="persons" data-placeholder="Persons" class="chosen-select no-search-select">
                                                    <option data-display="Persons">Any</option>
                                                    <option value="1">1 Person</option>
                                                    <option value="2">2 People</option>
                                                    <option value="3">3 People</option>
                                                    <option value="4">4 People</option>
                                                    <option value="5">5 People</option>
                                                    <option value="Banquet">Banquet</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-6">
                                            <div class="date-container2 fl-wrap">
                                                <input type="text" placeholder="Date" id="res_date"     name="resdate"   value=""/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fl-wrap">
                                                <select name="restime" id="resrv-time" data-placeholder="Time" class="chosen-select no-search-select">
                                                    <option data-display="Time">Any</option>
                                                    <option value="10:00am">10:00 am</option>
                                                    <option value="11:00am">11:00 am</option>
                                                    <option value="12:00pm">12:00 pm</option>
                                                    <option value="1:00pm">1:00 pm</option>
                                                    <option value="2:00pm">2:00 pm</option>
                                                    <option value="3:00pm">3:00 pm</option>
                                                    <option value="4:00pm">4:00 pm</option>
                                                    <option value="5:00pm">5:00 pm</option>
                                                    <option value="6:00pm">6:00 pm</option>
                                                    <option value="7:00pm">7:00 pm</option>
                                                    <option value="8:00pm">8:00 pm</option>
                                                    <option value="9:00pm">9:00 pm</option>
                                                    <option value="10:00pm">10:00 pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea name="comments"  id="comments" cols="30" rows="3" placeholder="Your Message:"></textarea>
                                    <div class="clearfix"></div>
                                    <button class="btn color-bg" id="reservation-submit">Reserve Table  <i class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <!-- reservation-wrap end-->
                    </div>
                </div>
            </div>
            <!-- reservation-modal-wrap end-->   
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->                                                    
